<%- include("header.ejs") %>

	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-md-auto">
				<h1 class="character-title"> Bot adicionado ao seu canal com sucesso! </h1>
			</div>
		</div>
	</div>

<%- include("footer.ejs") %>