<!-- 


-->
<%- include("header.ejs") %>

<button onclick="window.location.replace('https://id.twitch.tv/oauth2/authorize?client_id=mfko21ti9vhpzbpkgbb7lse4yxl7cu&redirect_uri=https://leocadios-rpg.herokuapp.com/removesuccess&response_type=code&scope=user:read:email')">
Remover RPG Bot do seu canal :(
</button>

<%- include("footer.ejs") %>